@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: centuryGothic;
  src: url(fonts/century-gothic-font/CenturyGothic.ttf);
}
@font-face {
  font-family: centuryGothicb;
  src: url(fonts/century-gothic-font/gothicb.ttf);
}
@font-face {
  font-family: copperplateGothic;
  src: url(fonts/Copperplate-Gothic-Bold-Regular/Copperplate\ Gothic\ Bold\ Regular.ttf);
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

/* .eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: centuryGothic; */
  /* font-weight: bold; */
  /* font-family: "EB Garamond", serif; */
}

h1 {
  font-size: 2.5rem;
  /* font-family: 'Poppins',sans-serif; */
  font-weight: 700;
  color: rgb(35, 35, 85);
}
h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}
.spann {
  font-size: 0.9rem;
  color: #757373;
}

/* OtherPage Nav bar  start*/
nav {
  position: fixed;
  width: 100%;
  background-color: #101c329e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
nav img {
  max-width: 45px;
  cursor: pointer;
}

nav .a_navigation {
  display: flex;
}
#a_menu-btn {
  width: 25px;
  height: 18px;
  display: none;
}
#a_menu-close {
  display: none;
}
nav .a_navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .a_navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .a_navigation ul li a {
  text-decoration: none;
  font-family: centuryGothicb;
  font-weight: 400;
  color: white;
  transition: 0.3s ease;
}
nav .a_navigation ul li a.active,
nav .a_navigation ul li a:hover {
  color: #fdc93b;
}

/* OtherPage Nav bar end  */

/* //HomePage navbar  */
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header img {
  max-height: 45px;
}
header .navigation {
  position: relative;
}
header .navigation .navigation-items a {
  position: relative;
  color: white;
  font-size: 1em;
  font-family: centuryGothicb;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover {
  color: rgb(23, 7, 99);
}
header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: rgb(23, 7, 99);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before {
  width: 100%;
}

/* //landingpage content  */
section {
  padding: 100px 200px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 5, 59, 0.84);
}
.home:before {
  /* //homeScreen Video  */
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active {
  display: block;
}
.home .content h1 {
  font-family: "EB Garamond", serif;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 145px;
  margin-top: 75px;
  color: white;
}
.home .content h1 span {
  font-family: "EB Garamond", serif;
  font-weight: 600;
}
.home .content p {
  margin-bottom: 65px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 2;
}
.home .content a {
  background: #fff;
  font-family: "Poppins", sans-serif;
  padding: 15px 35px;
  color: rgb(23, 29, 97);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content a:hover {
  background: rgb(163, 169, 240);
  color: #fff;
}
.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
}
.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}
.home .media-icons a:hover {
  transform: scale(1.3);
  color: rgb(163, 169, 240);
}

.home video {
  /* //homeScreen Video  */
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active {
  background: rgb(23, 29, 97);
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}
.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }
  .home .content h1 {
    font-size: 3em;
  }
  .home .media-icons {
    right: 15px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
  }
  header .navigation .navigation-items a {
    color: white;
    font-size: 1.2em;
    margin: 20px;
  }
  header .navigation .navigation-items a:before {
    background: white;
    height: 2px;
  }
  header .navigation.active .navigation-items {
    /* background: #fff; */
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  .menu-btn {
    background: url(WEBSITE_CONTENT/menu-btn.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(WEBSITE_CONTENT/close-btn.png) no-repeat;
    background-size: 25px;
    background-position: center;
    /* width: 35px; */
    /* height: 35px; */
    transition: 0.3s ease;
  }
}

/* //about page  */

#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(WEBSITE_CONTENT/FRONT_PAGE/02.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-contact {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(WEBSITE_CONTENT/FRONT_PAGE/04.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-projects {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(WEBSITE_CONTENT/FRONT_PAGE/06.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#about_services {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(WEBSITE_CONTENT/FRONT_PAGE/01.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#about_services .name_h2,
#about-projects .name_h2,
#about-contact .name_h2,
#about-home .name_h2 {
  color: #fff;
  font-family: copperplateGothic;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#about_services .a_h2,
#about-projects .a_h2,
#about-contact .a_h2,
#about-home .a_h2 {
  color: #fff;
  font-size: 2.2rem;
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img {
  width: 60%;
  padding-right: 60px;
}
#about-container .about-img img {
  width: 100%;
}
#about-container .about-text {
  width: 40%;
  padding: 60px;
}
#about-container .about-text h2 {
  color: #293038;
  padding-bottom: 15px;
  font-family: centuryGothicb;
}
#about-container .about-text p {
  color: #686f7a;
  font-family: "EB Garamond", serif;
  font-weight: 500px;
}
#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text {
  width: 90%;
}
#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  color: #29303b;
}
#about-container .about-text .about-fe .fe-text p {
  font-family: "Poppins", sans-serif;
}

.our-services {
  margin-bottom: 50px;
}

.our-team {
  margin-top: 50px;
}

.our-team h2,
.our-services h2 {
  margin-bottom: 20px;
  font-family: centuryGothicb;
  color: #101c32;
  letter-spacing: 1px;
  text-align: center;
}

.our-team p,
.our-services p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #686f7a;
  letter-spacing: 0.5px;
}

.our-team ul,
.our-services ul {
  padding-left: 50px;
}
.our-team li,
.our-services li {
  cursor: pointer;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}
.our-team li:hover,
.our-services li:hover {
  font-weight: 700;
  color: #101c32;
  transition: 0.3s ease;
}

/* Services  */
.container{
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}
.service-wrapper{
  padding: 5% 8%;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service h1{
  color: #2c234d;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 2px;
  background-color: rgb(4,52,83);
  background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41,17,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative; */
}
/* .service h1:after{
  content: " ";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 4px;
  width: 80%;
  border-radius: 8px;
  background-color: red;
} */
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 80px;
}
.card{
  height: 110px;
  width: 370px;
  background-color: #f7f6fa;
  padding: 3% 8%;
  border: 0.2px solid #f7f6fa;
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card:after{
  content: "";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: rgb(107, 128, 232);
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;

}
.card:hover:after{
  width: 225%;
  top: -100%;

}
.card h2{
  color: #2c234d;
  font-size: 20px;
}
.card p{
  text-align: center;
  margin-top: 10px;
  color: #686875;
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
}
.card:hover{
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #c7c7ff;
}


/* Footer  */
footer {
  padding: 5vw;
  background-color: #101c32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col {
  padding-bottom: 40px;
}
.footer-col .about-footer-col {
  width: 25%;
}
footer h3 {
  color: white;
  font-weight: 600;
  font-family: "EB Garamond", serif;
  padding-bottom: 20px;
}
footer p {
  color: #7b838a;
}
footer .rights {
  color: white;
  font-family: copperplateGothic;
}
footer li {
  list-style: none;
  color: #7b838a;
  padding: 4px 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover {
  color: white;
}
footer a {
  text-decoration: none;
}
footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright .pro-links {
  margin-top: 10px;
}
footer .copyright .pro-links i {
  padding: 10px 13px;
  /* border: 1px solid rgb(21, 21, 100); */
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
footer .copyright .pro-links i:hover {
  color: rgb(163, 169, 240);
  cursor: pointer;
}
footer .developer a {
  color: rgba(163, 169, 240, 0.622);
  text-decoration: solid;
  font-family: "Poppins", sans-serif;
}

/* // contact us page  */
#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contact .getin {
  width: 350px;
}
#contact .getin h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 0.8;
  margin-bottom: 16px;
}
#contact .getin p {
  color: #686875;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}
#contact .getin h3 {
  color: #2c234d;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 15px;
}
#contact .getin .getin-details div {
  display: flex;
}
#contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #2c234d;
  margin-right: 20px;
}
#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}
#contact .getin .getin-details .pro-links i {
  color: #2c234d;
  font-size: 1.6em;
  margin-right: 15px;
  transition: 0.3s ease;
}
#contact .getin .getin-details .pro-links i:hover {
  color: #5838fc;
  font-size: 1.8em;
  margin-right: 15px;
}

#contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}
#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  margin-bottom: 8px;
}

/* #contact .form p{
  color: #686875;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
} */

#contact .form p {
  color: #686875;
  line-height: 24px;
  font-family: copperplateGothic;
  padding-bottom: 25px;
}

#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}
#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}
#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: rgb(21, 21, 100);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}
#map {
  width: 100%;
  height: 70vh;
}
#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 815px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 45px;
  }
  #a_menu-btn {
    display: initial;
  }
  #a_menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }
  nav .a_navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .a_navigation ul.active {
    right: 0;
  }
  nav .a_navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .a_navigation ul li a {
    color: #fff;
  }

  /* about  */
  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }
  #about-container .about-img {
    padding-right: 30px;
  }
  #about-container .about-text {
    width: 60%;
    padding: 0;
  }

  #about_services .name_h2,
  #about-projects .name_h2,
  #about-contact .name_h2,
  #about-home .name_h2 {
    font-size: 2rem;
  }

  #about_services .a_h2,
  #about-projects .a_h2,
  #about-contact .a_h2,
  #about-home .a_h2 {
    font-size: 2rem;
  }
  #about-container .about-img {
    padding-right: 15px;
  }

  #about_services,
  #about-projects,
  #about-contact,
  #about-home {
    height: 50vh;
  }

  /* contact  */
  #contact {
    padding: 8vw 4vw;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
  }
  #contact .getin {
    width: 250px;
  }

  /* //services page  */
  .cards{
    grid-template-columns: repeat(2,1fr);
    /* margin-top: 30px; */
  }
}
@media (max-width: 475px) {
  h1 {
    font-size: 2rem;
  }
  /* About page for mobile  */
  .home .content h1 {
    font-size: 2em;
    line-height: 50px;
    margin-bottom: 100px;
  }

  #about-projects .name_h2,
  #about-contact .name_h2,
  #about-home .name_h2,
  #about_services .name_h2 {
    font-size: 1.4rem;
  }
  
  #about_services .a_h2,
  #about-projects .a_h2,
  #about-contact .a_h2,
  #about-home .a_h2  {
    padding-top: 5px;
    font-size: 1.4rem;
  }
  #about-container {
    flex-direction: column-reverse;
  }
  #about-container .about-img {
    width: 100%;
    padding: 0;
  }

  #about-container .about-img img {
    width: 100%;
    padding-top: 20px;
  }

  #about-container .about-text {
    width: 100%;
  }
  section {
    padding: 20px 20px;
  }
  .our-team li,
  .our-services li {
    font-weight: 500;
    color: #101c32;
  }

  /* contact  */
  #contact {
    padding: 8vw 4vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }
  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact .form {
    width: 100%;
    padding: 40px 30px;
  }
  #contact .form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #contact .form .form-row input {
    width: 100%;
  }

  /* //services page  */
  .cards{
    grid-template-columns: repeat(1,1fr);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .service h1{
    font-size: 2rem;
  }
  .card{
    height: 110px;
    width: 350px;
  }
  
}
